@font-face {
  font-family: "FredokaOne_Regular";
  src: url(../Fonts/FredokaOne-Regular.ttf) format(truetype);
}

@font-face {
  font-family: "PermanentMarker-Regular";
  src: url(../Fonts/PermanentMarker-Regular.ttf) format(truetype);
}

body {
  margin: 0px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* TEXTANDLINKS */

p {
  font-family: "Fredoka One", cursive, Verdana, Tahoma, sans-serif;
  color: #002554;
  font-size: 15px;
  text-align: center;
  max-width: 250px;
  margin: 0 auto;
}
footer p {
  text-align: center;
}

h1 {
  font-family: "Permanent Marker", cursive, Verdana, Tahoma, sans-serif;
  text-align: center;
  color: #3d58c0;
  font-size: 40px;
  text-decoration: none;
}

h2 {
  font-family: "Fredoka One", cursive, Verdana, Tahoma, sans-serif;
  color: #3d58c0;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

h3 {
  font-family: "Permanent Marker", cursive, Verdana, Tahoma, sans-serif;
  color: #69fd9f;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

h4 {
  font-family: "Permanent Marker", cursive, Verdana, Tahoma, sans-serif;
  color: #002554;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.Text {
  max-width: 250px;
  margin: 0 auto;
}

a {
  font-family: "Fredoka One", cursive, Verdana, Tahoma, sans-serif;
  text-decoration: none;
}

label {
  font-family: "Permanent Marker", cursive, Verdana, Tahoma, sans-serif;
}

.active_page {
  color: #fff700;
}

.cta_button {
  background-color: #002554;
  border-radius: 20px;
  padding: 10px 50px;
  color: white;
}

.cta_button:hover {
  color: #69fd9f;
  padding: 15px 55px;
  transition: 0.5s;
}

/* HEADER */

header {
  background-color: #3d58c0;
  display: flex;
  align-items: center;
}

header a {
  color: #69fd9f;
  text-decoration: none;
}

.logo {
  max-width: 80px;
  max-height: 80px;
  padding: 10px;
}

nav li,
i {
  display: inline-block;
  display: none;
  padding: 40px 5px;
  background: #3d58c0;
}

i {
  color: #69fd9f;
  margin-left: 160px;
}

header nav {
  margin-left: 20px;
  position: fixed;
  z-index: 1000;
  right: 0px;
  top: 0px;
  justify-content: space-evenly;
}
#hamburger-menu:checked ~ nav li,
i {
  display: block;
  padding: 10px;
}

#hamburger-menu {
  display: none;
}

/*HOMEPAGE*/

.Homepage_background {
  background-image: url(../images/Blådot.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 55vh;
  margin: 0px;
  padding-bottom: 50px;
}

.Homepage_background h1 {
  margin-top: 0px;
  color: #69fd9f;
}

.homepage_images {
  height: 180px;
  width: 200px;
  border-radius: 100%;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Image {
  width: 100%;
  margin: 0px;
}

.sites {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.Info_links {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

/*VISITPAGE*/

.see_you {
  height: 100px;
  margin: auto;
  display: grid;
  border-radius: 100%;
  padding-top: 20px;
}

.visit_background {
  background-image: url(../images/mammut.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  min-height: 55vh;
  margin: 0px;
  padding-bottom: 50px;
}

/*EVENTSPAGE*/

.events {
  display: grid;
  grid-template-rows: auto auto auto;
  text-align: center;
  align-items: center;
}

.events_info {
  align-self: start;
  max-width: 250px;
  margin: 0 auto;
  background-color: white;
}

.events_image {
  margin-top: 40px;
  border-radius: 100%;
  height: 180px;
  width: 200px;
}

.events_background {
  background-image: url(../images/events.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 55vh;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

/* EXPLORE */

.explore_background {
  background-image: url(../images/Explore.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 55vh;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

/*CONTACTPAGE*/

.follow_contact {
  display: block;
  text-align: center;
  font-size: 30px;
}

.follow_contact i {
  color: #002554;
  background-color: white;
  background-position: center;
}

.contact_background {
  background-image: url(../images/contact.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 55vh;
  text-align: center;
  margin: 0px;
  padding-bottom: 50px;
}

.contact_form {
  text-align: center;
  align-items: center;
  color: #17225c;
  background-color: white;
  margin: 10px auto;
  max-width: fit-content;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #3d58c0;
}

.contact_input {
  width: 100%;
}

.contact_form label {
  color: #3d58c0;
  display: grid;
}

.error {
  padding: 5px;
  color: red;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  background: #3d58c0;
  color: #69fd9f;
  height: auto;
  margin: 0px;
}

.fab {
  padding: 3px;
  margin: 3px;
  align-self: center;
  color: #fff700;
}

footer a {
  color: #fff700;
}

footer i {
  background-color: #3d58c0;
}

footer p {
  max-width: 300px;
  padding: 10px;
  color: white;
}

.footer_content {
  display: inline;
  align-items: center;
  text-align: center;
}

.subscribe {
  align-self: flex-start;
  flex-basis: 50%;
  padding: 10px 30px;
}

.entrance {
  align-self: flex-start;
  flex-basis: 50%;
  padding: 10px 30px;
}

.information {
  align-self: flex-start;
  flex-basis: 50%;
  padding: 10px 30px;
}

.follow {
  font-size: 30px;
}

input {
  font-family: "Permanent Marker", cursive, Verdana, Tahoma, sans-serif;
  font-size: 20px;
  border: 1px solid #69fd9f;
  border-radius: 10px;
  color: #fff700;
  background-color: #3d58c0;
  width: auto;
}

.Input {
  background-color: white;
  color: black;
}

iframe {
  height: 500px;
  width: auto;
  margin: 0px;
}
@media (min-width: 1000px) {
  .sites {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
  }

  .homepage_images {
    align-items: center;
    height: auto;
    width: 100%;
    border-radius: 0px;
  }

  .events_image {
    width: 100%;
    height: 300px;
    border-radius: 0px;
  }

  .CTA_button {
    padding: 10px 80px;
    border-radius: 0px;
    font-size: 20px;
  }

  .footer_content {
    display: flex;
  }

  header nav {
    display: block;
    position: static;
    font-size: 30px;
  }

  header label {
    display: none;
  }

  header nav li {
    display: inline-block;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    align-items: center;
  }

  .events_info {
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
  }

  .Info_links {
    padding: 50px;
  }

  .Text {
    max-width: 800px;
    margin: 0 auto;
  }

  p {
    max-width: 800px;
  }

  h1 {
    font-size: 90px;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }

  label {
    font-size: 20px;
  }

  .follow_contact {
    font-size: 60px;
  }

  .follow {
    font-size: 40px;
  }
}
