@font-face {
    font-family: "StarJedi-DGRW";
    src: url(../Fonts/StarJedi-DGRW.ttf) format(trutype);
}

@font-face {
    font-family: "PottaOne-Regular";
    src: url(../Fonts/PottaOne-Regular.ttf) format(trutype);
}

body {
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* TEXT */

p {
    color: white;
}

h1 {
    text-align: center;
    color: #ffbb36;
    text-decoration:none;
}

h2 {
    color: #ffbb36;
    text-decoration: none;
}


h3 {
    color: #ffbb36;
    text-decoration:none;
}

/* HEADER */

header {
    background-color: #002554;
    display: flex;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}


.logo {
max-width: 80px;
max-height: 80px;
padding: 10px;
}

nav  li,i{
    display: inline-block;
    display:none;
    padding: 40px 5px;
    background:#002554 ;
}

i {
    color: white;
   margin-left: 160px;
    
}

header nav {
    margin-left: 20px;
    position: fixed;
    z-index: 1000;
    right: 0px;
    top: 0px;
    justify-content: space-evenly;
}
 #hamburger-menu:checked ~ nav li,i
 {
     display: block;
     padding: 10px;
 }

 #hamburger-menu {
     display: none;
 }


 /* MAIN */

  main {
      display: grid;
      grid-template-rows: 1fr auto auto auto auto;
  }
  
  .background {
     background-size: cover;
     width: 100%;
     margin: 0px;
    }

    .page_links {
        text-align: center;
        background-color:#002554;
        border: 5px solid white;
        margin: 10px;
        padding-top: 0px;
    }

    .page_links:hover {
        background-color:black;
        margin: 5px;
    }

    .Link {
        background-size: cover;
        width: 100%;
        margin: 0px;
    }

    .site_image {
        width: 100%;
        align-items: center;
        size: 10px;
    
    }

 /* FOOTER */

 footer {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #002554;
    color: white;
    height: auto;
    margin: 0px;
  }
  
  .fab {
      padding: 3px;
      margin: 3px;
      align-self: center;
      color: #ffbb36;
  }


  footer a {
      color: #ffbb36; ;
  }
  
 
  .footer_content {
    display: inline;
    align-items: center;
    text-align: center;
  } 
  
  .subscribe {
    flex-basis: 50%;
    padding: 10px 30px;
  }
  
  .entrance {
    flex-basis: 50%;
    padding: 10px 30px;
  }
  
  .information {
    flex-basis: 50%;
    padding: 10px 30px;
  }

  @media (min-width: 1000px) {
      main {
          display: grid;
          grid-template-columns: auto auto auto auto;
          grid-template-rows: 1fr auto;
      }

      .page_links {
          grid-row: 2;
      }

      .footer_content {
          display: flex;
         }

         header nav {
             display: block;
             position: static;
         }

         header label {
             display: none;
         }

         header nav li {
             display: inline-block;
         }

  }
  
 
  